<div class="container">
	<div class="row mt-5">
		<div class="col">
			<h1 class="text-white text-center">Stock Ticker</h1>
		</div>
	</div>
	<div class="row my-4 my-sm-5">
		<div class="col"></div>
		<div class="col-9 col-sm-3">
			<logo-display></logo-display>
		</div>
		<div class="col"></div>
	</div>	
	<div class="row my-4 my-sm-5">
		<div class="col"></div>
		<div class="col-9 col-sm-3">
			<price-display></price-display>
		</div>
		<div class="col"></div>
	</div>	
	<div class="row my-4 my-sm-5">
		<div class="col col-sm-4"></div>
		<div class="col-12 col-sm-7">
			<fetch-ticker></fetch-ticker>
		</div>
		<div class="col"></div>
	</div>	
</div>
